.education {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; 
    background-color: #36454F;
    padding: 50px;
    color: #FAF9F6;
}

.school-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.school {
    display: flex;
    flex-direction: row;
}

.school-desc-1 {
    text-align: left;
    margin-left: 50px;
}

.school-desc-2 {
    text-align:right;    
    margin-right: 100px;
}

.school-logo {
    width: 150px;
    height: 150px;
    margin-left: 100px;
}

.school-location {
    display: inline-flex;
    color: #FAF9F6;
}

.school-location-icon {
    padding-top: 15px;
    padding-right: 15px;
}