.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.line-dark {
  border-top: 1px solid #36454F;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: -20px;
}

.line-light {
  border-top: 1px solid #FAF9F6;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: -20px;
}

.line-light-lite {
  border-top: 1px solid #FAF9F6;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

.line-dark-lite {
  border-top: 1px solid #36454F;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

.header-title-dark {
  color: #36454F;
  font-size: 30px;
}

.header-title-light {
  color: #FAF9F6;
  font-size: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
